<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<p>We are a team dedicated to helping students and workers to manage their time, motivate, set goals, and be productive.</p>
<p>Our names are Lucy Acheson, Owen Winger, Martin Doherty, and Raymond Tam. We are currently students in the 12th grade at Oakland Technical High School.</p>
<p>The goal of our project is to solve something we struggle with ourselves: procrastination. Students and workers struggle with this their entire lives. While there are lots of resources already, we aim to combine the best features from each, strategies that we find helpful, and make it easy to use.</p>
{% endblock %}