<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class="about-title">
    <br>
    <p class="about-title-words">About This Course</p>
    <br>
</div>
<br>
<div class="container-xl">
    <div class="about-purpose">
        <br>
        <p>This course is meant to teach children about the basics of nutrition through articles, videos, quizzes, and interactive activities. It includes three units: Understanding Nutrients, The Journey of Food, and Building Healthy Habits. Each unit will help kids to better understand the what they eat and build a healthy relationship with food. Students will take a nutrition quiz at the beginning of the course to test what they know and then take the same test at the end of the course in order to measure their progress.</p>
    </div>
</div>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row justify-content-evenly">
      <div class="col">
        <div class="text-center">
            <img src="/static/macro-micronutrients.jpg" class="img-about1" alt="Image Not Found." width="400" height="400">
        </div>
        <br>
        <p class="about-units-title">Unit 1</p>
        <p class="about-units-expl">In this unit entitled Understanding Nutrients, students will learn what macronutrients and micronutrients are and discover why specific nutrients are important to a person’s diet. Also, they will find out which common foods possess such nutrients.</p>
      </div>
      <div class="col">
        <p class="about-units-title">Unit 2</p>
        <p class="about-units-expl">In Unit 2: The Journey of Food, students will be exposed to the general process the food groups goes through to get from farm to table. By gaining this knowledge, children will feel more connected to the food they eat and better understand the concepts of food processing and farming. Students will even have the opportunity to do an easy gardening experiment of their own!</p>
        <div class="text-center">
            <img src="/static/farmtotable.jpg" class="img-about1" alt="Image Not Found." width="350" height="350">
        </div>
      </div>
      <div class="col">
        <div class="text-center">
            <img src="/static/healthyeating.png" class="img-about1" alt="Image Not Found." width="370" height="370">
        </div>
        <br>
        <p class="about-units-title">Unit 3</p>
        <p class="about-units-expl">Lastly, in this unit, Building Healthy Habits, students will learn how to establish healthy eating habits and recognize which foods will be better for them in the long run. They will also be exposed to resources such as government food assistance programs, food banks, and tips for shopping for affordable healthy groceries that make healthy eating more accessible.</p>
    </div>
</div>
<br>
<br>
<br>
<div class="container-xl">
    <br>
    <p class="about-note-red"><b>NOTE TO PARENTS:</b></p> 
    <p class="about-note">The internet is a huge and often dangerous place for children. Please make sure your child stays safe and on task while completing this course by checking in on them every once in a while, offering help during optional activities, and making sure they have sufficient water and food to allow their brains to function properly.</p>
</div>
<br>
<br>
<br>
<div class="container-sm">
    <div class="row justify-content-evenly">
        <div class="col">
            <p class="aboutme-title">
               About the Creator
            </p>
            <br>
            <p class="aboutme-info">
                Creator: Phoebe Nicholas <br>
                Email: s_phoebe.nicholas@ousd.org <br>
                Phone: 510-555-0332 <br>
                Oakland, CA <br>
                <br>
                I made this site in order to educate children of all backgrounds on the importance of healthy eating and provide real methods for building better dietary habits. As a teenager who has always had a harmful relationship with food, I want to ensure that future kids avoid my own mistakes and prioritize health over convenience.
                </p>
        </div>
        <div class="col">
            <img class="rounded mx-auto d-block" src="/static/me.jpg" alt="Image Not Found." width="500" height="520"></img>
        </div>
    </div>
</div>
<div class="coursehometitle">
    <p>Course Homepage</p>
</div>

<h1>About Us</h1>

{% endblock %}