<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us:</h1>
<h4>[author1]</h4>
<p>[info]</p>
<h4>Griselda Aleman</h4>
<p>Many teens struggle with mental health. Even me, that's why I want to inform as many people as I can about where they can get that help. I myself have and am still struggling with my mental health. And knowing how horrible it feels I motivate myself to work on helping future teens on their own mental health.</p>
<h4>Andre Brown</h4>
<p>I just want to help some people remember it’s worth it to stay alive. Seeing people struggle is difficult for me, and I don’t want another person to stay down while there’s something I can do to help. I have some experience with different people with very different influences on their health. It’s easy to pretend you don’t need help or to give up after the first time failing to get help, but it will get easier if you do.</p>
<h4>[author4]</h4>
<p>[info]</p>
<div></div>
<h2>Our Goal:</h2>
<p>To help teens struggling with  Mental Health, provide them with resources/ information on the importance of mental health, therapists, or generally places where you can go to get that help. Especially our website which has a forum to talk with others and relate to them. And our resources include therapists' information, where to find them, or how to get in contact with them to get help. We also have Mental Facilities/ Psychiatric Hospitals and their information so you can go get help at them. </p>
<div></div>
<h2>Version History:</h2>
<ul><li>Version 1</li></ul>
{% endblock %}