<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1>Grades</h1>
        <style>
             h1 { background-color: #72788D;  
                color: white;
    }
        </style>
          
        
        }

        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}
            
            {{ form.Course.label }} <br>
            {{ form.Course(size=64,class = "border") }}
            <!--List the errors for this field-->
            {% for error in form.Course.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
<br> <br>
            {{ form.Grade.label }} 
            {{ form.Grade() }}
            <!--List the errors for this field-->
            {% for error in form.Grade.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
<br>
            {{ form.GradePoints.label }} <br>
            {{ form.GradePoints(size=64,class = "border") }}
            <!--List the errors for this field-->
            {% for error in form.GradePoints.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            {{form.submit()}}
        </form>
        
{% endblock %}
