<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %} 
<h1>Grades list</h1>
<style>
    h1 { background-color: #72788D;  
       color: white;
       border:5px solid;
       border-color: #72788D;
       border-radius: 10px;
       }
</style>

<p>This page is used to keep track of your grades. This helps you keep track of where you are versus where you need to be. Add new ones under <strong>grades</strong>.</p>

{% for grade in grades %}


<a class="btn btn-primary" href="/grade/delete/{{grade.id}}" role="button">Delete</a>
<a class="btn btn-primary" href="/grade/edit/{{grade.id}}" role="button">Edit</a><br>

<a href="/grade/{{grade.id}}">{{grade.Course}}</a><br>
{{grade.Grade}}<br>
{{grade.GradePoints}}<br>
{{grade.owner}}
<br><br>

{% endfor %}
{% endblock %}