{% extends 'base.html' %}

{% block body %}
<style>
    img {
        border: 15px solid;
        border-color: #72788D;
    }
</style>

<h1>P^5 by Owen and Team</h1> <!-- and the minors -->
<p>P^5 is a project created by four students.</p>
<p>P^5 is designed to help workers and students manage their work and schedules and battle procrastination.</p>
<p>Our tools include a calculator, timer, schedule, to-do list, study methods, and more.</p>
<img src="https://thumbs.dreamstime.com/b/sad-tired-frustrated-boy-sitting-table-many-books-holding-help-sign-learning-difficulties-education-concept-paper-145003455.jpg" width= 400px/>
<p>Students especially struggle with juggling loaded schedules and multiple tasks. We aim to aid students of all ages and studies.</p>


{% endblock %}