{% extends 'base.html' %}

{% block body %}

<h1>[cool title that I will decide on later]</h1>

<body>

<img src="https://media.istockphoto.com/vectors/error-page-or-file-not-found-icon-vector-id924949200?k=20&m=924949200&s=170667a&w=0&h=-g01ME1udkojlHCZeoa1UnMkWZZppdIFHEKk6wMvxrs=" alt="Filler image" style="width:250px;height:300px;">
<br>
<p>It’s easier to get through anything with help. Our goal is to connect you with the right people and the best resources to offer you help if you choose to take it. Loss, guilt, fear, and anger are all normal, but that doesn’t mean it doesn’t help to have someone or something to help you through it. 
    Maybe it’s something different, something in your head that you know is messing with you, but you’re not sure how to deal with it. If it’s possibly something constant, there are people and resources here that can help get you a diagnosis or at least methods to work around it. 
    If you are willing to accept help, this will make sure you get it. 
    </p>
</body>
 

{% endblock %}