{% extends 'base.html' %}

{% block body %}

<h1>Stress Relief</h1>
<p> We reserched some stress relief techniques that can help you reset. These might take some time but they will help your productivit in the long run. These also will develop healthy habits which can help you for the rest of your life.  </p>
<p> </p>
<table>
    <tr>
      <td> <h3>Meditation:</h3> Meditation can help refocus and reset when you become overwhelmed.</td><p></p>
      <td> <h3>Diet:</h3> Eating well can make you feel better throughout the day and give a more positive mindset. </td>
      <td><h3>Yoga:</h3> Yoga, like meditation, can help refocus but also streches your muscles which become stiff from sitting still for long periods of time. </tr>
    </tr>
    <tr>
      <td><iframe width="350" height="225"
        src="https://www.youtube.com/embed/he-tQOnDCWw">
        </iframe></td>
        <td><iframe width="350" height="225"
            src="https://www.youtube.com/embed/xyQY8a-ng6g">
            </iframe></td>
            <td><iframe width="350" height="225"
                src="https://www.youtube.com/embed/qiKJRoX_2uo">
                </iframe></td>
    </tr>
  </table>

  
{% endblock %}