{% extends 'base.html' %}

{% block body %}

<h1>Stress Relief</h1>
<p>We reserched some stress relief techniques that can help you reset. These might take some time but they will help your productivit in the long run. These also will develop healthy habits which can help you for the rest of your life.  </p>
<p> </p>
<table>
    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
    </tr>
    <tr>
      <td>16</td>
      <td>14</td>
      <td>10</td>
    </tr>
  </table>

  
{% endblock %}