{% extends 'base.html' %}

{% block body %}

<h1>Stress Relief</h1>
<p> We reserched some stress relief techniques that can help you reset. These might take some time but they will help your productivit in the long run. These also will develop healthy habits which can help you for the rest of your life.  </p>
<p> </p>
<table>
    <tr>
      <td> <h3>Meditation:</h3> Meditation can help refocus and reset when you become overwhelmed.</td><p></p>
      <td> <h3>Diet:</h3> Eating well can make you feel better throughout the day and give a more positive mindset. </td>
      <td><h3>Yoga:</h3> Yoga, like meditation, can help refocus but also streches your muscles which become stiff from sitting still for long periods of time. </tr>
    </tr>
    <tr>
      <td><iframe width="350" height="225"
        src="https://www.youtube.com/embed/he-tQOnDCWw">
        </iframe></td>
        <td><iframe width="350" height="225"
            src="https://www.youtube.com/embed/xyQY8a-ng6g">
            </iframe></td>
            <td><iframe width="350" height="225"
                src="https://www.youtube.com/embed/qiKJRoX_2uo">
                </iframe></td>
    </tr>
  </table>

  <h3>Time Management</h3>
  <p>Not one time management techique works for everyone. Everybody studies, learns, and organizes differently. If you struggle with time management, you probably have not discovered which technique works best for you yet. Here are some to try.</p>


  <p><strong>1. Pareto Analysis (a.k.a., the 80/20 rule)</strong></p>
  <p>The 80/20 rule is a technique created by the Italian economist Vilfredo Pareto. It’s the idea that 20% of actions are responsible for 80% of outcomes. The goal of Pareto analysis is to help you prioritize tasks that are most effective at solving problems.</p>
  
  <p>How it works:</p>
  
  <ol>
    <li>List some of the problems you are facing. For example, maybe your grades are slipping.</li>
    <li>Identify the root cause of each problem. Maybe your grades are slipping because you spend too much time on social media or any other sort of distraction.</li>
    <li>Assign a score to each problem: Assign higher numbers to more important problems</li>
    <li>Group problems together by cause: Group together all the problems caused by spending too much time on social media.</li>
    <li>Add up the score of each group: The group with the highest score is the issue you should work on first.</li>
    <li>Take action.</li>
  </ol>

  <p><strong>2. Pomodoro Technique</strong></p>
  <p>The Pomodoro Technique was created by entrepreneur and author Francesco Cirillo. This technique uses a timer to break down your work into intervals. Each interval is known as a Pomodoro, named after the tomato-shaped timer that Cirillo created.</p>
  <p>How it works:</p>

  <ol>
    <li>Choose a task you need to get done.</li>
    <li>Set a timer (e.g., for 25 mins).</li>
    <li>Focus on the task at hand.</li>
    <li>When the timer rings, put a checkmark on a piece of paper.</li>
    <li>Take a short break: Take a break for about three to five minutes. Go for a walk, grab a cup of coffee, do something non-work-related to give your brain a break.</li>
    <li>Repeat steps two to five: Once you have completed this process four times, you can begin to take longer breaks (20–30 mins).</li>
</ol>


<p><strong>3. Eisenhower Matrix</strong></p>
<p>Before Dwight Eisenhower became president in 1953, he served in the U.S. Army as an Allied Forces Commander during World War II. He was faced with difficult decisions every day that led him to invent what is now called the Eisenhower matrix, or the urgent-important matrix.</p>
<p>How it works:</p>
<p>Organize your task list into four separate quadrants, sorting them by important vs. unimportant and urgent vs. not urgent, as shown in the graphic below. Urgent tasks are those we feel need to get done immediately. Important tasks are those that contribute to your long term goals or values. Ideally, you should only work on tasks in the top two quadrants—the other tasks, you should delegate or delete.</p>



  <p><strong>Credit to: <a href="https://www.usa.edu/blog/time-management-techniques/">USA.EDU</a></strong></p>
  

  
{% endblock %}