<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>Teacher Course</h1>
<h3>
    <a href="/teachercourse/edit/{{tCourse.id}}"><img width="20" src="/static/edit.png"></a>
    <a href="/teachercourse/delete/{{tCourse.id}}"><img width="20" src="/static/delete.png"></a>
    <a href="/course/{{tCourse.course.id}}">{{tCourse.course.course_title}}</a> 
    <a href="/teacher/{{tCourse.teacher.id}}">{{tCourse.teacher.fname}} {{tCourse.teacher.lname}}</a>
</h3>
{% if tCourse.course_description %}
    {{tCourse.course_description}} <br>
{% endif %}
{% if tCourse.course_link %}
    <a href="{{tCourse.course_link}}">{{tCourse.course_link}}</a>
{% endif %}

{% endblock %}