{% extends 'base.html' %}

{% block body %}

<h1>Timer</h1>
<p>Press the start button to start and stop the timer, the reset button will restart the timer. You can use this timer to keep track of amount of time spent on work and time on brake.</p>
    <link href="/static/stopwatch.css" rel="stylesheet">
    <script src="/static/stopwatch.js"></script>
    <div id="stopwatch">
      <!-- CURRENT TIME -->
      <div id="sw-time">00:00:00</div>

      <!-- CONTROLS -->
      <input type="button" value="Reset" id="sw-rst" disabled/>
      <input type="button" value="Start" id="sw-go" disabled/>
    </div>

    
{% endblock %}