<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<script src="todolist.js"></script>
<link rel="stylesheet" href="todoliststyle.css"/>

<div class="thelist">
    <div id="myDIV" class="header">
        <h2>My To Do List</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>
    
    <ul id="myUL">
        <li>Homework</li>
        <li class="checked">Schoolwork</li>
        <li>Register an account at OTData</li>
        <li>Study for AP test</li>
    </ul>
</div>
{% endblock %}