<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

<script src="todolist.js"></script>
<link rel="stylesheet" type="text/css" href="app\static\todoliststyle.css">


{% block body %}

    <div id="myDIV" class="header">
        <h2>To Do List</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>
    
    <ul id="myUL">
        <li>Homework</li>
        <li class="checked">Schoolwork</li>
        <li>Register an account at OTData</li>
        <li>Study for AP test</li>
    </ul>

{% endblock %}